.header {
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0; 
}

.button-group {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}