/* Components.css */

/* Page Styles */
.page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 5rem; 
}

/* Header Styles */
.header {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px; 
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0; 
}

.header select, 
.header input {
    box-sizing: border-box;
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

.header-dropdown-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem 1.5rem;
    z-index: 2; 
}

.header-dropdown-left select, 
.header-dropdown-left input {
    box-sizing: border-box;
    width: 50%;
}

/* Content Styles */
.card {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative; 
    width: 30vw; 
    min-width: fit-content;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding: 0;
    box-sizing: border-box;
}

.card-header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.item-info-popup {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    gap: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);

}

.list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem; 
    border: 1px solid #ccc; 
    padding: 16px;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;

}

.item-usage-event {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
}

.user {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    margin-right: 1.5rem;
}
.user-menu-dropdown {
    position: absolute;
    top: 60px; 
    right: 0px; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: "100%";
}

.dropdown-item {
    height: 48px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem; 
    padding: 0 1.5rem;
}

/* Button Styles */
.button-group {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.upload-button {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px; 
    border-radius: 8px;
    padding: 0rem 1.5rem;
    border: none;
    gap: 8px;
    cursor: pointer;
}

.upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 8px;
    cursor: pointer;
}

/* Form Styles */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem;
    width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 4px;
  margin: 20px auto;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    gap: 4px; 
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}

.form-label input, 
.form-label select {
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}

.auth-form {
    box-sizing: border-box;
    display: flex;
    width: 100%; 
}

.auth-form input {
    box-sizing: border-box;
    width: 100%;
}

/* Generic Styles */

.row {
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.row > * {
    flex: 1 1 0; 
}

.child-row {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.column {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}


.usage-events-table {
    width: 100%;
    border: 1px solid #525252;
    border-collapse: collapse;
}

.usage-events-table th,
.usage-events-table td {
    border: 1px solid #525252;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

.usage-events-table th,
.usage-events-table td {
    padding: 16px;
    text-align: left;
    font-size: 20px;
}




