.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0; 
}

.button-group {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 20px auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;  
    top: 100; 
    right: 0; 
    padding: 10px 20px;
    width: fit-content;
    margin: 0;
}