.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px; 
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0; 
}

.button-group {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 10px;
  margin: 20px auto;
}

.auth-form {
    box-sizing: border-box;
    display: flex;
    width: 100%; 
}

.auth-form input {
    box-sizing: border-box;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: fit-content;
}

.card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end; 
    gap: 10px;
}

.auth-button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.header-dropdown-left {
    position: absolute;
    left: 1.2rem;
    top: 0;
    padding: 1.5rem;
}

.header-dropdown-left select, 
.header-dropdown-left input {
    box-sizing: border-box;
    width: 50%;
}