/* Components.css */

/* Page Styles */
.page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}

/* Header Styles */
.header {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px; 
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0; 
}

.header select, 
.header input {
    box-sizing: border-box;
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

.header-dropdown-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2.5rem;
    z-index: 2; 
}

.header-dropdown-left select, 
.header-dropdown-left input {
    box-sizing: border-box;
    width: 50%;
}

/* Content Styles */
.card {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    margin: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
}

.item-info-popup {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    gap: 8px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);

}

.list-item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem; 
    font-weight: bold;
    border: 1px solid #ccc; 
    padding: 16px;
    width: 100%;
    box-sizing: border-box;

}

/* Button Styles */
.button-group {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* Form Styles */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 4px;
  margin: 20px auto;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    gap: 4px; 
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}

.form-label input, 
.form-label select {
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}

.auth-form {
    box-sizing: border-box;
    display: flex;
    width: 100%; 
}

.auth-form input {
    box-sizing: border-box;
    width: 100%;
}


