#root {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0; 
  padding: 0;
}

button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
 
input, select {
  padding: 16px;
  font-size: 18px;
}


