#root {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0; 
  padding: 0;
}

button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 48px; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
 
input {
  padding: 16px;
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
