.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 20px auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px 20px;
    width: 320px;
    margin: 20px auto;
}